[data-theme='macaron'] {
  --background: oklch(0.9789 0.0128 345.4817);
  --foreground: oklch(0.4044 0.0363 347.3556);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.4044 0.0363 347.3556);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4044 0.0363 347.3556);
  --primary: oklch(0.7636 0.1386 349.5471);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9008 0.0543 223.9694);
  --secondary-foreground: oklch(0.5144 0.0868 228.7176);
  --muted: oklch(0.966 0.0077 345.3508);
  --muted-foreground: oklch(0.5831 0.0367 346.7161);
  --accent: oklch(0.9556 0.0278 173.7139);
  --accent-foreground: oklch(0.5585 0.0965 167.1406);
  --destructive: oklch(0.7944 0.1024 19.5862);
  --destructive-foreground: oklch(1 0 0);
  --success: oklch(0.82 0.09 173);
  --success-foreground: oklch(0.4 0.09 173);
  --warning: oklch(0.9 0.08 91.7987);
  --warning-foreground: oklch(0.45 0.09 91.7987);
  --border: oklch(0.9341 0.0103 345.4308);
  --input: oklch(0.9341 0.0103 345.4308);
  --ring: oklch(0.7636 0.1386 349.5471);
  --chart-1: oklch(0.7636 0.1386 349.5471);
  --chart-2: oklch(0.9008 0.0543 223.9694);
  --chart-3: oklch(0.9178 0.0516 172.8319);
  --chart-4: oklch(0.9551 0.0614 91.7987);
  --chart-5: oklch(0.8793 0.0655 314.4656);
  --sidebar: oklch(0.9894 0.0064 345.3115);
  --sidebar-foreground: oklch(0.449 0.0413 347.4056);
  --sidebar-primary: oklch(0.7636 0.1386 349.5471);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9809 0.026 91.6197);
  --sidebar-accent-foreground: oklch(0.6486 0.1235 88.6215);
  --sidebar-border: oklch(0.9506 0.0077 345.3549);
  --sidebar-ring: oklch(0.7636 0.1386 349.5471);
  --font-sans: var(--font-instrument), sans-serif;
  --font-serif: var(--font-merriweather), serif;
  --font-mono: var(--font-noto-mono), monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 25px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(330, 20%, 20%);
  --shadow-2xs: 0px 4px 25px 0px hsl(330 20% 20% / 0.05);
  --shadow-xs: 0px 4px 25px 0px hsl(330 20% 20% / 0.05);
  --shadow-sm: 0px 4px 25px 0px hsl(330 20% 20% / 0.1), 0px 1px 2px -1px hsl(330 20% 20% / 0.1);
  --shadow: 0px 4px 25px 0px hsl(330 20% 20% / 0.1), 0px 1px 2px -1px hsl(330 20% 20% / 0.1);
  --shadow-md: 0px 4px 25px 0px hsl(330 20% 20% / 0.1), 0px 2px 4px -1px hsl(330 20% 20% / 0.1);
  --shadow-lg: 0px 4px 25px 0px hsl(330 20% 20% / 0.1), 0px 4px 6px -1px hsl(330 20% 20% / 0.1);
  --shadow-xl: 0px 4px 25px 0px hsl(330 20% 20% / 0.1), 0px 8px 10px -1px hsl(330 20% 20% / 0.1);
  --shadow-2xl: 0px 4px 25px 0px hsl(330 20% 20% / 0.25);
  --tracking-normal: 0.01em;
  --spacing: 0.25rem;
}

[data-theme='macaron'].dark {
  --background: oklch(0.2083 0.0168 314.4365);
  --foreground: oklch(0.9548 0.0153 314.7488);
  --card: oklch(0.2393 0.021 314.3999);
  --card-foreground: oklch(0.9548 0.0153 314.7488);
  --popover: oklch(0.2393 0.021 314.3999);
  --popover-foreground: oklch(0.9548 0.0153 314.7488);
  --primary: oklch(0.7636 0.1386 349.5471);
  --primary-foreground: oklch(0.2083 0.019 347.3952);
  --secondary: oklch(0.8693 0.0714 224.458);
  --secondary-foreground: oklch(0.2923 0.0446 227.43);
  --muted: oklch(0.2889 0.0277 314.3592);
  --muted-foreground: oklch(0.7917 0.0301 314.6425);
  --accent: oklch(0.3787 0.062 167.8075);
  --accent-foreground: oklch(0.9178 0.0516 172.8319);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --destructive-foreground: oklch(1 0 0);
  --success: oklch(0.34 0.08 172.1185);
  --success-foreground: oklch(0.9 0.08 172.1185);
  --warning: oklch(0.36 0.08 91.73);
  --warning-foreground: oklch(0.9 0.08 91.73);
  --border: oklch(0.3271 0.0328 314.337);
  --input: oklch(0.3271 0.0328 314.337);
  --ring: oklch(0.7636 0.1386 349.5471);
  --chart-1: oklch(0.7636 0.1386 349.5471);
  --chart-2: oklch(0.9008 0.0543 223.9694);
  --chart-3: oklch(0.8917 0.0681 172.1185);
  --chart-4: oklch(0.9274 0.0994 91.73);
  --chart-5: oklch(0.8001 0.1107 314.1399);
  --sidebar: oklch(0.1852 0.0184 314.3435);
  --sidebar-foreground: oklch(0.9548 0.0153 314.7488);
  --sidebar-primary: oklch(0.7636 0.1386 349.5471);
  --sidebar-primary-foreground: oklch(0.2083 0.019 347.3952);
  --sidebar-accent: oklch(0.2889 0.0277 314.3592);
  --sidebar-accent-foreground: oklch(0.7636 0.1386 349.5471);
  --sidebar-border: oklch(0.2889 0.0277 314.3592);
  --sidebar-ring: oklch(0.7636 0.1386 349.5471);
  --font-sans: var(--font-instrument), sans-serif;
  --font-serif: var(--font-merriweather), serif;
  --font-mono: var(--font-noto-mono), monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 30px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 10px 30px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 10px 30px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm: 0px 10px 30px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow: 0px 10px 30px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md: 0px 10px 30px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0px 10px 30px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0px 10px 30px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 10px 30px 0px hsl(0 0% 0% / 1);
}

[data-theme='macaron'] {
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
}
